/*@media screen and (max-width: 600px) {
  div.hide {
    display: none;
  }
}*/
.box 
{
  border-radius: 25px;
  padding: 15px;
  background-color: coral;
  /*box-shadow: 10px 10px 5px 12px lightblue;*/
}
.box:hover{
	box-shadow: 10px 10px 5px 12px lightblue;
}
